.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px; /* Decreased max-width to make the container smaller */
    margin-top: 5px; /* Center the container horizontally with margin auto */
    padding-top: 5px;
    padding-left: 170px;
    margin-bottom: 10px;
    
    
  
  }
  
  .form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 30px 50px; /* Decreased padding to decrease form height */
    background-color: #334f68;
    margin-top: 10px; /* Adjusted margin-top to reduce the gap */
    margin-bottom: 100px; /* Adjusted margin-bottom to reduce the gap */
    border-radius: 4px;
  }
    
    .label {
      margin-bottom: 5px; /* Reduced margin-bottom to decrease spacing */
      font-size:medium;
    }
    
    .input {
      padding: 8px;
      margin-bottom: 3px; /* Reduced margin-bottom to decrease spacing */
      width: 100%;
      border: solid 1px gray;
      border-radius: 4px;
  
    }
  
    
    
    .button {
      padding: 10px;
      height: 45px;
      background-color: #76b578;
      color: black;
      border-radius: 4px; /* Reduced border radius to make the button smaller */
      
    }
    
    .button:hover {
      background-color: #0daf15;
      color: yellow; /* Change the submit button text color */
    }
    
    /* Add a separate rule for the initial background color */
    .button:not(:hover) {
      background-color: #76b578;
    }
    